/* reminder: minimize styling overrides! */

.hi {
     border: 2px solid magenta !important;
}

#panelBox #panel.light * {
  color: black!important;
}

#dashContainer #dash * {
  margin: 0px !important;
  padding: 0px !important;
}
