/* reminder: minimize styling overrides! */

.hi {
     border: 2px solid magenta !important;
}

#d2daDock.hi {
  border: 2px solid red; 
}

#DockStruts.hi {
  border: 2px solid yellow; 
}

#DockDwell.hi {
  border: 2px solid yellow; 
}

#d2daDock * {
 margin: 0px !important;
 padding: 0px !important;
}

#d2daDock.hi #dash .dash-item-container {
  border: 2px solid magenta;
}

#d2daDock #dash {
  /* border: 2px solid yellow; */
}
