/* reminder: minimize styling overrides! */

.hi {
     border: 2px solid magenta !important;
}

#d2dlContainer {
 /* border: 2px solid red; */
}

#d2dlContainer #dash * {
  margin: 0px !important;
  padding: 0px !important;
}

#d2dlContainer #dash .dash-item-container {
 /* border: 2px solid red; */
}