#dashContainer {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

#dashContainer #dash .dash-item-container > StButton.show-apps > .overview-icon {
  /*background-color: rgba(0,0,0,0.2) !important;*/
  border-radius: 8px !important;
}

#dashContainer #dash .dash-item-container > StWidget:hover .overview-icon {
  background-color: rgba(150,150,150,0.4) !important;
  border-radius: 8px !important;
}

#dashContainer.dark #dash > StWidget.dash-background {
  background-color: rgb(0,0,0) !important;
}

#dashContainer #dash > StWidget.dash-background {
  /*background-color: rgb(0,0,0) !important;*/
  border-radius: 12px !important;
  border: 0px !important;
}

#dashContainer #dash .dash-item-container * {
    height: 54px !important;
}
#dashContainer #dash .dash-item-container .app-well-app-running-dot {
    height: 4px !important;
}

#dashContainer.vertical #dash .dash-item-container *,
#dashContainer.shrink #dash .dash-item-container * {
    height: 48px !important;
}

#dashContainer.vertical #dash .dash-item-container .app-well-app-running-dot,
#dashContainer.shrink #dash .dash-item-container .app-well-app-running-dot {
    height: 2px !important;
}

#dashContainer.shrink #dash .dash-item-container > StWidget,
#dashContainer.shrink #dash .dash-item-container > StDrawingArea,
#dashContainer.shrink #dash .dash-item-container > StButton {
  /*width: 48px !important;*/

  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  /*margin-top: 0px !important;*/
  /*margin-bottom: 0px !important;*/
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#dashContainer.shrink #dash > StWidget.dash-background {
  padding-left: 2px !important;
  padding-right: 2px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  margin-left: 2px !important;
  margin-right: 2px !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

#dashContainer.shrink #dash .dash-separator {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
  background-color: rgba(150,150,150,0.15) !important;
}

.hi {
 border: 2px solid magenta !important; 
 /*background: magenta;*/
}
