/* reminder: minimize styling overrides! */

.hi {
     border: 2px solid magenta !important;
}

#d2dldotsContainer {
/*  border: 2px solid red;*/
}

#d2dldotsContainer #dash * {
  margin: 0px !important;
  padding: 0px !important;
}

#d2dldotsContainer #dash .dash-item-container {
/*  border: 2px solid red;*/
}