[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Trash
Exec=xdg-open trash:///
Icon=user-trash
StartupWMClass=trash-dash2dock-lite
Actions=trash

[Desktop Action trash]
Name=Empty Trash
Exec={extension_path}/dash2dock-lite@icedman.github.com/apps/empty-trash.sh
Terminal=true
